$rickandmorty-yellow: rgba(240, 225, 74, 1);
$rickandmorty-yellow-opacity: rgba(240, 225, 74, 0.8);
$rickandmorty-green: rgb(151, 206, 76);
$rickandmorty-pink: rgb(232, 154, 199);
$rickandmorty-dark-pink: rgb(228, 167, 136);
$rickandmorty-brown: rgb(68, 40, 29);
